<tr id="course-<%= course.id %>">
  <td><%= course.name %></td>
  <td><%= course.status %></td>
  <td><%= link_to 'Edit', edit_course_path(course), remote:true %></td>
  <td><%= link_to 'Destroy', course_path(course), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
</tr>
