<%= form_for @course, remote: true do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= f.label :total_hours %>
    <%= f.text_field :total_hours, id: :course_hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
