


<% @courses.each do |single_course| %>
  <h4>Course Name:
    <a href=" /courses/<%=single_course.id%>">
      <%= single_course.name %></a>
  </h4>
  <h5>
    Total Hours in Class:
    <%= single_course.total_hours %>
  </h5>
  <%= "#{single_course.cohorts.length} cohorts" %>
  <% single_course.cohorts.each do |cohort| %>
    <h4>
      Cohort Title:
      <%= cohort.title %>
    </h4>
    <h4>
      Cohort Teacher:
      <%= cohort.teacher.first_name %> <%= cohort.teacher.last_name %>
    </h4>
  <% end %>

  <hr>
<% end %>

<%= link_to 'Add A New Course', new_course_path %>

<hr>
