<!DOCTYPE html>
<html>
  <head>
    <title>Jimmy's Admin Panel</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("brain7.png", :size => "80x80", alt: "Rails logo") %>
        <%= link_to "Admin's Panel", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Courses", '/courses' %></li>
            <li><%= link_to "Cohorts", '/cohorts' %></li>
            <li><%= link_to "Teachers", '/teachers' %></li>
            <li><%= link_to "Students", '/students' %></li>
            <li><%= link_to "Log in", '/jimmies' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col">

          <%= yield %>

        </div>
      </div>

    </div>
  </body>
</html>
